body {
    background-color: #19191B;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.bg_dradient {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* #br_fradient_1 {
    top: 0;
    left: 0;
} */

/* #br_fradient_2 {
    right: 0;
} */

/* #br_fradient_3 {
    left: 0;
    top: 1600px;
} */

/* #br_fradient_4 {
    top: 1900px;
    right: 0;
} */

.container {
    width: 90%;
    margin: auto;
    padding: 2% 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* navbar styles start */

.navbar__logo {
    width: 10%;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    font-size: 18px;
}

.list_item > a {
    text-decoration: none;
    color: #ffffff;
}

.list_item > a:hover {
    color: #5454D4;
    transition: 0.8s;
}

.navbar__input {
    width: 15%;
    height: 25px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}
.navbar_btn_burger {
    display: none;
}

/* navbar styles and */

/* header styles start */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.header_block_left {
    width: 40%;
}

.header_title_left {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    line-height: 1;
    margin-top: 25%;
    margin-bottom: 0;
}

.header__desc_left {
    font-size: 21px;
    line-height: 2;
}

.header__btn {
    width: 35%;
    height: 60px;
    background-color: #5454D4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
}

.btn__icon {
    margin-left: 7px;
}

.header_block_right {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.vector {
    position: absolute;
}
#vektor_2 {
    top: 124px;
    left: -81px;
}

#vektor_4 {
    top: 666px;
    left: -130px;

}

#vektor_3 {
    top: 124px;
    right: 54px;
    
}

#vektor_5 {
    top: 666px;
    right: 19px;
    
}
/* header styles and */



/* service start*/

.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__title_main {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    width: 59%;
    margin: 120px 0 80px;
    font-family: 'Open Sans', sans-serif;

}

.service__list {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.service_item {
    width: 20%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    text-align: center;

}

.service_title {
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 600;
}

.service__desc {
    font-size: 20px;
}

/* service and*/

/* portfolio start*/

.portfolio {
    font-size: 60px;
    font-weight: 700;
}

.portfolio_list {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

.portfolio_item {
    border-color: #1E1E20;
    border-radius: 15px;
    padding: 1.5%;
    height: min-content;

}

.portfolio_item:nth-child(2) {
    margin-top: 90px;
}

.portfolio_item:nth-child(3) {
    margin-top: 180px;
}

.portfolio_icon {
    margin-left: 45%;
    margin-top: 50px;
}

.portfolio_icon_2 {
    display: none;
}
/* portfolio and*/

/* info block start*/
.info_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;

}

.info_block_text {
    margin-left: 120px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    width: 826px;
    height: 164px;
}

.info_bloc_btn {
    width: 201px;
    height: 60px;
    border: none;
    border-radius: 4px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    background-color: #5454D4;
}
/* info block and*/

/* footer start*/
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer_img {
    width: 132px;
    height: 40px;
}

.footer_item {
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
}
/* footer and*/



@media all and (max-width: 900px) {
    .service_item {
        width: 30%;
        margin: 0 1.5%;
    }
}

@media all and (max-width: 850px) {
    .navbar__list {
        width: 50%;
    }
    .header__btn {
        width: 60%;
    }
}


@media all and (max-width: 850px) {
    .portfolio {
    width: auto;
    padding: 0%;
    }
    .portfolio_item {
        width: 90%;
    }
    .info_bloc_btn {
        width: 25%;
    }
    .footer_item {
        width: 50%;
    }
    .footer_info {
        width: 20%;
        font-size: 15%;
        justify-content: center;
    }
    .footer_item {
        margin-right: 2px;
    }

}


/* 800 */

@media all and (max-width: 800px) {
    .navbar__input {
        width: 20%;
    }

    header {
        flex-direction: column;
    }
    .header_block_left {
        width: 80%;
    }
    .header_title_left {
        margin-top: 15%;
    }
    .header__btn {
        width: 40%;
    }
    .header_block_right {
        width: 80%;
        align-self: center;
    }
    .service_item {
        width: 40%;
        margin: 0 5%;
    }
}

/* 750 */

@media all and (max-width: 750px) {
    .navbar__logo {
        width: 20%;
    }
    .header__btn {
        width: 40%;
    }
    .img_man {
        width: 600px;
    }
    .portfolio_item:nth-child(2), .portfolio_item:nth-child(3) {
        display: none;
    }
    .portfolio_item {
        width: 50%;
    }
    .portfolio_list {
        justify-content: center;
    }
    .portfolio_icon {
        display: none;
    }
    .portfolio_icon_2 {
        display: block;
        margin: 0 auto;
    }
    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .footer_iter {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .footer_item {
        margin-top: 5px;
    }
    .footer_info {
        margin-top: 0;
    }
}

/* burger menu style start*/

    .burger-menu {
        display: none;
        width: 98%;
        height: min-content;
        background-color: #2c2c33;
        position: absolute;
        z-index: 1;
        top: 1%;
        right: 1%;
        left: 1%;
        border-radius: 10px;
        border: 2px solid white;
    }

    .burger-content_menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .burger_menu_btn_close {
        margin: 4% 0;
        width: 4%;
        height: 7%;
        cursor: pointer;
    }

    .burger-menu_input {
        width: 30%;
        height: 10%;
        background-color: transparent;
        border-radius: 5px;
        border: 1 px solit white;
    }

    .burger-menu_list {
        height: 60%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0%;
    }

    .burger-menu_item {
        text-decoration: none;
        color: white;
        transform: 0.8s;
    }

    .burger-menu_item>a:hover {
        color: #5454D4;
        transform: 0.8s;
    }

    .navbar__list, .navbar__input {
        display: none;

    }
    .navbar_btn_burger {
        display: block;
    }

    
/* burger menu style and*/


/* @media all and (max-width: 650px) {
    .portfolio_title {
        font-size: 
    }
}



@media all and (max-width: 600px) {
    .service__list {
        justify-content: center;
    }

    .service_item {

    }
    .info_block_title {
        fond-size: 30px;
    }
}


@media all and (max-width: 550px) {
    .header__btn {
        width: 50%;
    }
} */

@media all and (max-width: 500px) {

    .info_block {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .info_block_title {
        width: 80%;
    }

    .info_bloc_btn {
        margin-top: 1%;
        width: 30%;
        font-size: 12px;
        height: 30px;
    }
}

@media all and (max-width: 400px) {
    .header__btn {
        width: 60%;
    }
    .header__img {
        height: 40px;
    }

    #vektor_2 {
        left: -8px;
        top: 80px;
    }

    #vektor_4 {
        bottom: -20px;
    }

    .service__title_main {
        width: 100%;
        font-size: 30px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 330px) {
    .header__desc_left {
        line-height: 1;
        font-size: 16px;
    }
    .header__btn {
        width: 100%;
    }

    .info_bloc_btn {
        width: 40%;
        height: 40px;
    }
    .footer_iter {
        width: 100%;
    }
    .footer_info {
        width: 100%;
    }
}